.auth {
  color: #000;
}

.card {
  border-radius: 1em;
}

.card-header {
  text-align: center;
  font-family: "Reggae One", cursive;
  font-weight: bold;
  font-size: 5em;
  height: 1.4em;
  padding: 0.4em;
}

.login-btn {
  margin: auto;
  display: block;
}
